<head>
    <link rel="stylesheet" href="/css/info.css">
</head>
<section>
    <div class="row">
            <div class="leftcolumn">
                <div class="card">
                    <p><strong style="text-decoration: underline;">Steckbrief Ultimate Ribon</strong><br>
                    <br>
                    Titel: Ultimate Ribon <br>
                    Erscheinungsjahr: 2020 <br>
                    Status: <strong class="myglow">Nicht abgeschlossen</strong> <br>
                    Genre: Action, Adventure, Comedy, Drama, Fantasy, Martial-Art, Military, Mystery, 
                           Psychological, Shounen, Splatter, Supernatural, Superpower, Violence <br>
                    Altersfreigabe: Ab 16 Jahren <br>
                    PEGI: Schimpfwörter, Angst, Gewalt</p>
                </div>
                <div class="card">
                    <p><strong style="text-decoration: underline;">Geschichte von Ultimate Ribon</strong><br>
                    <br>
                    Ultimate Ribon ist ein Webcomic-Projekt und wurde von einem kleinen Team aus Zeichnern und einem Autor (siehe „Das Team“) gemeinsam auf <br>
                    die Beine gestellt. Im Februar 2015 wurde der erste „Spatenstich“ gemacht. Seitdem wurden immer wieder einzelne Fragmente der Story beisammen <br>
                    gefügt, welche im Laufe der Zeit auch verschiedene Arbeitstitel hatte. Auch unser Team setzte sich erst im Laufe der Zeit zusammen.  <br>
                    Die ersten Ideen und Skripts wurden 2015 auf Papier gebracht, die ersten Charakterdesigns wurden aber 2017 fertiggestellt. So setzte <br>
                    sich nach und nach alles zusammen und ist zu dem geworden, was wir euch heute präsentieren können.</p>
                </div>
            </div> 
            <div class="rightcolumn">
              <div class="card">
                <h2>Über Uns</h2>
                <div class="fakeimg" style="height:100px;">Image</div>
                <p>Etwas Text über Uns.</p>
              </div>
              <div class="card">
                <h3>Top Artikel</h3>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div><br>
                <div class="fakeimg">Image</div>
              </div>
              <div class="card">
                <h3>Folge Uns!</h3>
                <a class="fol-ic" href="https://facebook.com" target="_blank"><i class="fab fa-youtube"></i> Facebook</a>
                <a class="fol-ic" href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> Twitter</a>
                <a class="fol-ic" href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
                <a class="fol-ic" href="https://discordapp.com" target="_blank"><i class="fab fa-discord"></i> Discord</a>
                <a class="fol-ic" href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i> Youtube</a>
              </div>
            </div>           
          </div>
</section>