<section id="title">
    <!-- Title -->
    <div id="title-logo" class="row">
        <div class="col-lg-3">
            <img id="head-logo" src="./img/newlogowhite2.png" alt="Logo">
        </div>
    </div>

    <!-- Nav -->
    <div class="ribon-nav">
        <ul class="nav justify-content-center navbar-fnt">
            <li class="nav-item">
                <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/info">Info</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/chapter">Kapitel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/shop">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/about-us">Über Uns!</a>
            </li>
        </ul>
    </div>
</section>